.Html {
    display: flex;
    flex-direction: column;
    textarea {
        flex: 1;
        background: #222;
        color: #fff;
    }
    button {
        height: 45px;
        margin-top: 10px;
        border: 0;
        background: #444;
        color: #fff;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 5px;
    }
}