.Source {
	display: flex;
	flex-direction: column;
	input {
		height: 50px;
		margin-bottom: 10px;
	}
	textarea {
		flex: 1;
	}
	> div {
		margin-top: 10px;
		> span {
			color: #444;
			display: block;
			padding: 5px 0;
			border-bottom: 1px solid #999;
			&:last-child {
				border-bottom: 0;
			}
			&:before {
				content: '예) ';
				opacity: 0.7;
			}
		}
	}
}
